<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OptiCatAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ForgotPasswordBody" value="Hello {{FirstName}} {{LastName}},&lt;br&gt;&lt;br&gt;We received a request to reset the password associated with this email address. If you made this request, please follow the instructions below.&lt;br&gt;&lt;br&gt;If you did not request to have your password reset, you can safely ignore this email. We assure you that your customer account is safe. &lt;br&gt;&lt;br&gt;&lt;b&gt;Click the link below to reset you password.&lt;/b&gt;&lt;br&gt;&lt;br&gt;{{callbackUrl}}&lt;br&gt;&lt;br&gt;If Clicking the link doesn't work, you can copy and paste the link into your browser's address window, or retype it there. Neccessary instructions for reseting the password will be provided after entering in to the website through the given link.&lt;br&gt;&lt;br&gt;Thanks,&lt;br&gt;BCC Team" />
    <add key="ForgotUsernameBody" value="Hello {{FirstName}} {{LastName}},&lt;br&gt;&lt;br&gt;We received a request for username associated with this email address. If you made this request, please find the username below.&lt;br&gt;&lt;br&gt;If you did not request for your username, you can safely ignore this email. We assure you that your customer account is safe. &lt;br&gt;&lt;br&gt;&lt;b&gt;Your Username :&lt;/b&gt; {{username}}&lt;br&gt;&lt;br&gt;Thanks,&lt;br&gt;Admin Team" />
    <add key="NewWDMail" value="Hello,&lt;br&gt;&lt;br&gt; This is very Confidential &lt;br&gt;&lt;br&gt; {{Content}} &lt;br&gt;&lt;br&gt;Thanks,&lt;br&gt;Admin Team" />
    <add key="NewShopMail" value="Hello {{WDName}},&lt;br&gt;&lt;br&gt; This is very Confidential &lt;br&gt;&lt;br&gt; {{Content}} &lt;br&gt;&lt;br&gt;Thanks,&lt;br&gt;Admin Team" />
    <add key="MailResponseSubject" value="Admin Website - {{Content}} Request" />
    <add key="AliasName" value="tech@apaengineering.com" />
    <add key="UserName" value="tech@apaengineering.com" />
    <add key="Password" value="E8mZA9r82aa" />
    <add key="SSL" value="true" />
    <add key="Port" value="587" />
    <add key="EmailSubjectException" value="Error occurred in OptiCat Admin Website" />
    <add key="ErrroMailToAddress" value="snehaasri.d@apaengineering.com" />
    <add key="EmailSender" value="tech@apaengineering.com" />
    <add key="MailServer" value="smtp.gmail.com" />
    <add key="LeftImgHeight" value="250" />
    <add key="LeftImgWidth" value="300" />
    <add key="TopImgheight" value="90" />
    <add key="TopImgWidth" value="970" />
    <add key="BannerImageUpload" value="http://apaengineering.net/OpticatFilePath/" />
    <add key="AutoLogueUrl" value="http://srv.epartconnection.com/acwebserv2/stdXml.asmx" />
    <!--MyPaceForParts Setup-->
    <add key="xtuple" value="https://uemc-api.xtuplecloud.com/v0/" />
    <!---->
    <!--Kamark Setup-->
    <!--<add key="karmakBranch" value="https://api.karmak.io/api/unity/v1/unityapi/Branch"/>-->
    <add key="karmakBranch" value="https://api.karmak.io/ops/helper/Branch" />
    <!--<add key="kamarktoken" value="https://api.karmak.io/auth/connect/token" />-->
    <!--<add key="Client_ID" value="OptiCat_Sandbox" />-->
    <add key="Client_Secret" value="eca7ad434e3c43618f4a10ff042e3f06" />
    <!--<add key="Grant_Type" value="karmak_identity" />-->
    <!--<add key="Scope" value="api" />-->
    <add key="Kamark_Account" value="899999" />
    <!--<add key="Kamark_User" value="07fa42c8-1f6f-4c96-937f-c8effeffed7d"/>-->
    <!---->
    <!--MyPaceForParts Setup-->
    <add key="MyPaceForPartsUrl" value="https://aes.servlet.myplaceforparts.com/aesMiscServices/" />
    <!---->
    <!--<add key="WDLogos" value="http://autopartsasia.org/opticatadmin_enhanced_sandbox/Uploads/Logos/WD/" />-->
    <!--<add key="WDLogos" value="http://192.168.100.206/opticatadmin/Uploads/Logos/WD/" />-->
    <add key="WDLogos" value="http://192.168.102.10/opticatadmin/Uploads/Logos/WD/" />
  </appSettings>
  <connectionStrings>
    <!--<add name="opticatdbconnection" connectionString="Server=10.81.110.252;Port=3306;Database=opticat;Uid=apadev;Pwd=DevApa2018*;convert zero datetime=true;" />-->
    <!--<add name="opticatdbconnection" connectionString="server=10.81.110.252;port=3306;database=opticat;uid=apadev;pwd=DevApa2018*;convert zero datetime=true;" />-->
    <!--<add name="opticatdbconnection" connectionString="Server=132.148.155.117;Port=3306;Database=opticat;Uid=apadive;Pwd=DiveApa2018*;convert zero datetime=true;CharSet=utf8" />-->
    <!--<add name="opticatdbconnection" connectionString="server=10.81.113.3;port=3306;database=opticat;uid=msdteam;pwd=Test-12-3;convert zero datetime=true;CharSet=utf8" />-->
    <add name="opticatdbconnection" connectionString="Server=192.168.126.201;Port=3306;Database=opticat;Uid=msdtesting;Pwd=APA@1234;convert zero datetime=true;CharSet=utf8" />
    <!--<add name="opticatdbconnection" connectionString="Server=192.168.100.27;Port=3306;Database=opticat;Uid=root;Pwd=P@ssword_001;convert zero datetime=true;CharSet=utf8" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5.2" />
    <!--<httpRuntime targetFramework="4.5.2" executionTimeout="240" maxRequestLength="20480"/>-->
    <httpRuntime targetFramework="4.5.2" executionTimeout="240" maxRequestLength="1048576" maxQueryStringLength="2097151" maxUrlLength="10999" />
    <!--Modified by Nayan (Reason-Large file was not able to upload)-->
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <sessionState timeout="240" />
    <!--<sessionState cookieSameSite="None" timeout="240" />-->
    <!--<httpCookies HttpOnlyCookies ="true" requireSSL="false"/>-->
  </system.web>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" />
        <!--<requestLimits maxAllowedContentLength="2500000000"/>-->
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
    </staticContent>
  </system.webServer>
  <applicationSettings>
    <OptiCatAdmin.Properties.Settings>
      <setting name="OptiCatAdmin_OCWS_CatalogWrapped" serializeAs="String">
        <value>https://webservice.opticatonline.com/autocare/v1/services/CatalogWrapped.soapEndpoint</value>
      </setting>
      <setting name="OptiCatAdmin_com_epartconnection_srv_stdXml" serializeAs="String">
        <value>http://srv.epartconnection.com/acwebserv2/stdXml.asmx</value>
      </setting>
    </OptiCatAdmin.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 5A57E6C2-F150-4BB5-9631-A7489543B071-->